@media screen  and (max-width: 1400px) {
    body{
        max-width: 100vw;
        box-sizing: border-box;
    }
    .logo{
        font-size: 1.5rem;
    }
    .profile-container{
        display: flex;
        flex-direction:column-reverse;
        flex-wrap:wrap;
        justify-content: space-between;
        align-content: center;
        gap: 0;
    }
    .title{
        font-size: 1.5rem;
    }
    .section__text{
        width: 100vw;
        padding-left: 5%;
        padding-right: 5%;
    }
    .section__pic-container{
        display: none;
        width: 70vw;
    }

    .profile-section__pic-container{
        display: flex;
        justify-content: center;
    }

    .section-container{
        max-width: 90vw;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-content: center;
    }
    .section-container img{
        margin-top: 3rem;
        align-self: center;
        width: 15vh;
        height: 30vh;
    }
    .experience-container{
        display: flex;
        overflow-x: scroll;
        height:fit-content;
    }
    .experience-container-container{
        display: flex;
        overflow-x: scroll;
    }

    .skill-card{
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .skill-card img{
        width: 2rem;
        height: 2rem;
    }

    .skill-card h1{
        font-size: 0.57rem;
        font-weight: 500;
        margin-top: 0;
        text-align: center;
    }

    .project-container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center;
    }

    .project-card{
        padding: 1rem;
        width: 80%;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact_card a p{
        font-size: 0.8rem;
    }
    
    .icon{
        width: 1.5rem;
        height: 1.5rem;
    }



}

@media screen  and (max-width: 700px) {
    #desktop-nav{
        display: none;
    }
    
    #hamburger-nav{
        display: flex;
    }
}